@font-face {
  font-family: Prime;
  src: url(../fonts/Prime.otf);
}

:root {
  --primary-color: #e6e6e6;
   /*
  por defecto
  --primary-color: #e6e6e6;*/
}

* {
  margin: 0;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Prime;
  line-height: 1.5;
}

body {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  /*background-color: var(--primary-color);*/
  background-color: black;
  /*background-image: url("../img/starfield_compass.svg");*/
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}

.custom_text_container {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.title {
  font-size: 30px;
  font-weight: 800;
}

/*info de cpu y gpu*/
.info_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  text-align: center;
  margin-top: 5px;
}

.info_container {
  color: var(--primary-color);
}

/*letras de cpu y gpu*/
.info_container .info {
  font-size: 35px;
  font-weight: 800;
}


.divider {
  height: 50px;
  border: 1px solid var(--primary-color);
  opacity: 50%;
}